In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('brasileirao_serie_a - brasileirao_serie_a.csv', sep=',')

In [3]:
df.head(3)

,ano_campeonato,data,horario,rodada,estadio,arbitro,publico,publico_max,time_man,time_vis,...,colocacao_man,colocacao_vis,valor_equipe_titular_man,valor_equipe_titular_vis,idade_media_titular_man,idade_media_titular_vis,gols_man,gols_vis,gols_1_tempo_man,gols_1_tempo_vis
0,2008,2008-05-10,06:10,1,Estádio Eládio de Barros Carvalho,João Alberto Gomes Duarte,14620.0,NaN,Náutico,Goiás EC,...,5,13,6700000.0,8150000.0,27.6,25.1,2.0,1.0,1.0,1.0
1,2008,2008-05-10,06:10,1,Estádio Cícero Pompeu de Toledo,Luís Antônio Silva Santos,7929.0,NaN,São Paulo,Grêmio,...,14,seis,28400000.0,10100000.0,27.3,24.4,0.0,1.0,0.0,0.0
2,2008,2008-05-10,06:10,1,Estádio Manoel Barradas,Giulliano Bozzano,14679.0,NaN,EC Vitória,Cruzeiro,...,19,3,3000000.0,25600000.0,26.9,24.2,0.0,2.0,0.0,2.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3800 entries, 0 to 3799
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ano_campeonato            3800 non-null   object
 1   data                      3800 non-null   object
 2   horario                   3800 non-null   object
 3   rodada                    3800 non-null   object
 4   estadio                   3800 non-null   object
 5   arbitro                   3800 non-null   object
 6   publico                   3799 non-null   float64
 7   publico_max               1644 non-null   float64
 8   time_man                  3800 non-null   object
 9   time_vis                  3800 non-null   object
 10  tecnico_man               3527 non-null   object
 11  tecnico_vis               3527 non-null   object
 12  colocacao_man             3800 non-null   object
 13  colocacao_vis             3800 non-null   object
 14  valor_equipe_titular_man  3527 non-null   float64
 15  valor_equipe_titular_vis  3527 non-null   float64
 16  idade_media_titular_man   3525 non-null   float64
 17  idade_media_titular_vis   3525 non-null   float64
 18  gols_man                  3799 non-null   float64
 19  gols_vis                  3799 non-null   float64
 20  gols_1_tempo_man          3790 non-null   float64
 21  gols_1_tempo_vis          3790 non-null   float64
dtypes: float64(10), object(12)
memory usage: 653.2+ KB

In [5]:
#Puxando os nomes de cada coluna
df.columns

Index(['ano_campeonato', 'data', 'horario', 'rodada', 'estadio', 'arbitro',
       'publico', 'publico_max', 'time_man', 'time_vis', 'tecnico_man',
       'tecnico_vis', 'colocacao_man', 'colocacao_vis',
       'valor_equipe_titular_man', 'valor_equipe_titular_vis',
       'idade_media_titular_man', 'idade_media_titular_vis', 'gols_man',
       'gols_vis', 'gols_1_tempo_man', 'gols_1_tempo_vis'],
      dtype='object')

In [6]:
# Checando os valores de cada coluna:

df.ano_campeonato.value_counts()

2009              380
2012              380
2011              380
2016              380
2017              380
2008              380
2013              380
2014              380
2015              380
2010              379
dois mil e dez      1
Name: ano_campeonato, dtype: int64

In [7]:
df['ano_campeonato'] = df['ano_campeonato'].replace('dois mil e dez','2010')

In [8]:
# Verificando se a alteração foi realizada
print(df.ano_campeonato.unique())

['2008' '2009' '2010' '2011' '2012' '2013' '2014' '2015' '2016' '2017']

In [9]:
df.rodada.value_counts()

24                100
28                100
21                100
35                100
10                100
11                100
22                100
31                100
34                100
37                100
2                 100
25                100
16                100
6                 100
8                 100
27                100
36                100
20                100
4                 100
9                 100
7                 100
15                100
23                100
13                100
32                100
38                100
26                100
14                100
17                100
29                100
33                100
30                100
3                 100
19                100
5                 100
1                 100
18                100
12                 98
doze                1
décima segunda      1
Name: rodada, dtype: int64

In [10]:
df['rodada'] = df['rodada'].replace('doze','12')
df['rodada'] = df['rodada'].replace('décima segunda','12')
df.rodada.unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '36', '37', '38'], dtype=object)

In [11]:
df.colocacao_man.value_counts()

10      205
16      201
7       200
20      199
17      198
14      198
18      195
19      193
15      192
8       191
12      189
5       188
6       185
11      183
3       182
13      182
4       182
9       180
1       179
2       176
oito      1
um        1
Name: colocacao_man, dtype: int64

In [12]:
df['colocacao_man'] = df['colocacao_man'].replace('um','1')
df['colocacao_man'] = df['colocacao_man'].replace('oito','8')
df.colocacao_man.unique()

array(['5', '14', '19', '2', '16', '4', '8', '11', '1', '10', '3', '20',
       '15', '6', '13', '12', '7', '17', '9', '18'], dtype=object)

In [13]:
df.colocacao_vis.value_counts()

2       204
1       200
9       200
3       198
13      198
4       198
11      197
6       194
5       192
12      191
8       188
15      188
19      187
18      185
17      182
14      182
20      181
7       180
16      179
10      175
seis      1
Name: colocacao_vis, dtype: int64

In [14]:
df['colocacao_vis'] = df['colocacao_vis'].replace('seis','6')
df.colocacao_man.unique()

array(['5', '14', '19', '2', '16', '4', '8', '11', '1', '10', '3', '20',
       '15', '6', '13', '12', '7', '17', '9', '18'], dtype=object)

## Tratando os valores Nulos

In [15]:
df.isna().any()

ano_campeonato              False
data                        False
horario                     False
rodada                      False
estadio                     False
arbitro                     False
publico                      True
publico_max                  True
time_man                    False
time_vis                    False
tecnico_man                  True
tecnico_vis                  True
colocacao_man               False
colocacao_vis               False
valor_equipe_titular_man     True
valor_equipe_titular_vis     True
idade_media_titular_man      True
idade_media_titular_vis      True
gols_man                     True
gols_vis                     True
gols_1_tempo_man             True
gols_1_tempo_vis             True
dtype: bool

In [22]:
média_idade_media_titular_man= round(df[df.idade_media_titular_man.notnull()].idade_media_titular_man.astype(int).median())
média_idade_media_titular_man

27

In [23]:
df.idade_media_titular_man.fillna(27, inplace=True)

In [24]:
idade_media_titular_vis

array([27.6, 27.3, 26.9, 24.5, 24.6, 25.5, 23.7, 26.4, 26.8, 27.5, 30.1,
       24.7, 24.4, 27.1, 21.3, 26.5, 27.4, 27.9, 25. , 27.7, 28.1, 23.9,
       27. , 25.3, 25.4, 25.9, 26.3, 25.2, 24. , 24.1, 26.7, 25.6, 28.3,
       26.2, 28.7, 26.1, 25.1, 24.3, 28.5, 23. , 29.8, 24.2, 29.2, 28.4,
       29.3, 26. , 28. , 28.2, 27.8, 29.6, 24.8, 23.5, 27.2, 24.9, 29. ,
       22.7, 25.7, 26.6, 23.6, 28.9, 29.9, 25.8, 29.1, 22.6, 23.3, 23.8,
       29.4, 29.5, 28.8, 23.1, 23.4, 23.2, 28.6, 29.7, 30.3, 30. , 22.3,
       30.8, 30.5, 22. , 22.9, 30.6, 30.2, 31.3, 31.2, 31.1, 31. , 30.4])

In [25]:
média_idade_media_titular_vis= round(df[df.idade_media_titular_vis.notnull()].idade_media_titular_vis.astype(int).median())
média_idade_media_titular_vis

26

In [26]:
df.idade_media_titular_man.fillna(26, inplace=True)

In [16]:
df.time_man.unique()

array(['Náutico', 'São Paulo', 'EC Vitória', 'Botafogo', 'Ipatinga FC',
       'Coritiba FC', 'Internacional', 'Atlético-MG', 'Flamengo',
       'Portuguesa', 'Cruzeiro', 'Sport Recife', 'Vasco da Gama',
       'Grêmio', 'Goiás EC', 'Fluminense', 'Atlético-PR', 'Santos FC',
       'Figueirense FC', 'Palmeiras', 'Avaí FC', 'Corinthians',
       'Santo André', 'Barueri', 'Atlético-GO', 'Ceará SC', 'Guarani',
       'América-MG', 'EC Bahia', 'Ponte Preta', 'Criciúma EC',
       'Chapecoense', 'Joinville-SC', 'Santa Cruz'], dtype=object)

In [17]:
Nautico = (df['time_man'] == 'Náutico')
Nautico_pub = df[Nautico].copy()
Nautico_pub.publico_max.unique()

array([   nan, 19800., 46154.])

In [18]:
Nautico_pub.publico_max.fillna(46154., inplace=True)

In [19]:
Nautico_pub.publico_max.unique()

array([46154., 19800.])